%p#notice= notice

%p
  %b Name:
  = @person.name
%p
  %b Birth date:
  = @person.birth_date
%p
  %b Enable:
  = @person.enable

= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Back', people_path
